* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma;
  font-size: 12px;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 30px auto;
}

.gridItem {
  width: 24%;
  display: inline-flex;
  padding: 5px;
  align-items: center;
  > svg {
    fill: #777;
  }

  .iconName {
    color: #666;
    margin-left: 8px;
  }
}
