.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 30px auto;
}

.gridItem {
  display: inline-flex;
  border: 1px solid #888;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  > svg {
    fill: #888;
  }
}
